#welcome-screen {
    padding: 0 20px;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/bg.gif);
    color: #FFF;    
}